---

- name: Install PHP and required modules
  apt:
    name:
      - php
      - libapache2-mod-php
      - php-mysql
    state: present
    update_cache: yes

- name: Restart Apache to load PHP module
  service:
    name: apache2
    state: restarted

- name: Deploy PHP application
  template:
    src: index.php.j2
    dest: /var/www/html/index.php
    owner: www-data
    group: www-data
    mode: '0644'
